{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% if messages %}
    {% for message in messages %}
    <h4 class="text-success text-center mt-2">{{message}}</h4>
    {% endfor %}
{% endif %}
<h3 class="text-center text-primary my-3">Welcome to your profile {{request.user.first_name}} {{request.user.last_name}} </h3>
<div class="container mx-auto">
    <p class="text-center"><a class="btn btn-outline-success" href="{% url 'edit_profile' %}">Edit Profile</a></p>
</div>
<div class="my-3">
    <div class="row justify-content-center my-5 gap-4">
        {% for car in data.all %}
        <div class="col-lg-3 col-md-6 col-8" >
          <div class="card">
            <div class="card-body">
              <img  src="{{car.image.url}}" class="card-img-top" alt="">
              <h5 class="card-title"><a class="text-decoration-none text-dark" href="">{{car.name}}</a></h5>
              <p class="card-text">Price: {{car.price}}</p>
              <p class="card-text fw-bold">Brand: {{car.brand}}</p>
              <a class="btn btn-primary" href="{% url 'details' id=car.id %}">View Details</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
</div>
{% endblock %}