{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="my-5 container mx-auto my-4">
    <div class="d-flex flex-lg-row flex-column gap-3 justify-content-center align-items-center">
        <div class="col w-auto me-lg-3">
            <img class="img-fluid" src="{% static 'images/banner_car.gif' %}" alt="">
        </div>
        <div class="col w-auto" style="max-width: 700px;">
            <h1 class="text-center text-success">Welcome to Super Cars!</h1>
            <p class="text-center">Welcome to our luxury haven for automotive enthusiasts! At our Super Car Shop, we curate an unparalleled collection of high-performance marvels that redefine the essence of driving. Immerse yourself in a world where speed meets elegance, and precision intertwines with style. Each car in our webpage is a testament to engineering excellence and automotive artistry. </p>
        </div>
    </div>
</div>
<div>
    <h4 class="text-center my-3">Brands</h4>
    <div class="d-flex justify-content-center gap-2">
        {% for brand in brands %}
        <a class="btn btn-warning fw-bold text-decoration-none text-dark" href="{% url 'brands' brand.slug %}">{{brand.name}}</a>
        {% endfor %}
    </div>
</div>
<div>
    <div class="conatiner mx-2">
        <h4 class="mt-4 text-center">{{data|length}} result found</h4>
        <div class="row justify-content-center my-5 gap-4">
            {% for car in data %}
            <div class="col-lg-3 col-md-6 col-8" >
              <div class="card">
                <div class="card-body">
                  <img  src="{{car.image.url}}" class="card-img-top" alt="">
                  <h5 class="card-title"><a class="text-decoration-none text-dark" href="">{{car.name}}</a></h5>
                  <p class="card-text">Price: {{car.price}}</p>
                  <p class="card-text fw-bold">Brand: {{car.brand}}</p>
                  <a class="btn btn-warning" href="">View Details</a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
    </div>
</div>
{% endblock %}